<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

{#var map;#}
{#function initMap() {#}
{#  map = new google.maps.Map(document.getElementById('map'), {#}
{#    center: {lat: 35.6582091, lng:139.6994063},#}
{#    zoom: 16#}
{#  });#}



function initMap() {
    var myLatLng = {lat: 35.6581823, lng: 139.702043};
    
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: myLatLng
    });
    
{#    var contentString = '<div id="content">'+#}
{#        '<div id="siteNotice">'+#}
{#        '</div>'+#}
{#        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+#}
{#        '<div id="bodyContent">'+#}
{#        '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +#}
{#        'sandstone rock formation in the southern part of the '+#}
{#        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+#}
{#        'south west of the nearest large town, Alice Springs; 450&#160;km '+#}
{#        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+#}
{#        'features of the Uluru - Kata Tjuta National Park. Uluru is '+#}
{#        'sacred to the Pitjantjatjara and Yankunytjatjara, the '+#}
{#        'Aboriginal people of the area. It has many springs, waterholes, '+#}
{#        'rock caves and ancient paintings. Uluru is listed as a World '+#}
{#        'Heritage Site.</p>'+#}
{#        '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+#}
{#        'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+#}
{#        '(last visited June 22, 2009).</p>'+#}
{#        '</div>'+#}
{#        '</div>';#}
    var contentString = "<img src='https://media.timeout.com/images/102540372/750/422/image.jpg'>";
    
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Hello World!'
    });
    var currently_open = {}
    marker.addListener('click', function() {
        if (!(marker in currently_open) || currently_open[marker] != 1) {
            currently_open[marker] = 1;
            infowindow.open(map, marker);
        }
        else {
            currently_open[marker] = 0
            infowindow.close()
        }
    });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDpr2GSxyAShZF1xo11yGtt8zJ2JBgshk&callback=initMap">
    </script>
  </body>
</html>